<%- include('header.ejs') %>
<body>
  <div class="ui container-fluid">

    <img src="https://static01.nyt.com/images/2018/08/01/dining/01Grocery1-alpha/01Grocery1-videoSixteenByNineJumbo1600-v4.jpg" style="height: 70vh;width: 100vw">
      
    <%- include('navbar.ejs',{array:array}) %>

    <br/>
    <%- console.log(array) %>

    <div class="text-center">
      <h1 style="color:rgb(24, 112, 228); font-family: 'Josefin Sans', sans-serif;"><%- title %></h1>
    </div>

    <div class="row text-center">
        <% for(var i=0; i<array.length ; i++) { %>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;margin:2vw;">
                    <a>
                        <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/72/Avatar_icon_green.svg/1024px-Avatar_icon_green.svg.png" style="height:25vh; width:16vw" alt="No Image Available">
                      </a>
                    <div class="card-body">
                        <h5 class="card-title"><%- array[i].name %></h5>
                        <h5 class="card-title"><%- array[i].email %></h5>
                    </div>
        
                    <div class="card-body">
                        <a href="/<%- type %>/edit/<%- array[i]._id %>" class="card-link">Edit</a>
                        <a href="#" data-toggle="modal" data-target="#exampleModal<%- i %>" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
            <%- include('deleteModal.ejs',{link: `/${type}/delete/${array[i]._id}`, Sno: i }) %>
            <br/><br/>
        <% } %>
    </div>
  </div>
  <script src="/cart.js"></script>
</body>
          

